body{
    background-color: #65c9cc; /** fondo completo*/
}

#titulo{
    text-align: center;
    font: bold;
    font-size: 40px;
    font-family: Arial;
}

#caja1{
    background-color:blue ;
    color: yellow;
    height: 350px;
    width: 1270px;
    position: relative;
    margin-top: -50px;
}
#caja4{
    border: 1px solid;
    margin-top: 5px;
    height: 170px;
    width: 150px;
    
}

#caja5{
    margin-top: -10px;
    font-family: Arial;
}

#enlaces{
    text-align: right;
    margin-top: -40px;
    background: black;
      
}
#encabezados1,th{
color: red;
left: 100px;
margin-left: 100px;
}
#encabezados2{
  
    margin-left: -100px;
}

#caja2{
    text-align: center;
    background: black;
    color: white;
    size: 10px;
}