/* .grid{
    display: grid;
    grid-template-columns: 50px 300px;
    grid-template-rows: 200px 75px;
} */

/* .grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 2fr 1fr;
} */

/**Selector grupo  .a,.b*/
 /* div [class] {
    border: 1px solid;
}  */

.grid{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40px auto 40px;
    grid-template-areas: "head head head" "menu contenid enlaces" "foot foot foot";
}

.a {
    grid-area: head;
    background-color: blue;
   
}
.b {
    grid-area: menu;
    background-color: red;
    height: 400px;
}
.c {
    grid-area: contenid;
    background-color: green;
}
.d {
    grid-area: foot;
    background-color: orangered;
}

.e {
    grid-area: enlaces;
    background-color: yellow;
}